{% extends 'base.html.twig' %}
{% block body %}
	<div class="jumbotron text-center">
	   <h1>Gestion de stock de la société DMD</h1>
	   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, est eu consequat ultrices, eros elit lobortis ipsum, at vulputate odio tellus non turpis. Duis ullamcorper congue dolor. Nulla commodo mattis diam ut facilisis.</p>
	</div>
{% endblock %}